[Desktop Entry]
Name=JetBrains PyCharm
Exec=/home/libor/.local/pycharm-2024.1.3/bin/pycharm.sh
Terminal=false
Type=Application
Icon=/home/libor/.local/pycharm-2024.1.3/bin/pycharm.svg
Categories=Utility;TextEditor;
StartupNotify=false
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
